<div class="tasks">
    <section class="todo">
        <h2>Fazer</h2>
        <app-task title="Atividade" desc="Terminar a atividade de desenvolvimento web"></app-task>
        <app-task title="Ir ao mercado" desc="Comprar pão, café, leite e ovos"></app-task>
    </section>

    <section class="doing">
        <h2>Fazendo</h2>
        <app-task title="Organizar" desc="Limpar e organizar o quarto" id="yellow"></app-task>
        <app-task title="Ler" desc="Ler 20 páginas do livro Meu Pé De Laranja Lima" id="yellow"></app-task>
    </section>

    <section class="done">
        <h2>Feito</h2>
        <app-task title="Estudar" desc="Estudar para a atividade avaliativa de desenvolvimento web" id="green"></app-task>
    </section>
</div>